<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-header bg-primary">
          
        </div>
        <div class="card-body">
            <h3>Filter resources</h3>
            <form>        
                    <div class="md-form">
                        <i class="fa fa-font prefix"></i>
                        <input type="text" class="form-control" placeholder="Title">
                        <label for="form3"></label>
                    </div>
                
                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <input type="text"class="form-control" placeholder="Author">
                        <label for="form2"></label>
                    </div>
                
                    <div class="md-form">
                        <select class="form-control" id="category" name="category" [(ngModel)]="category">
                            <option>Front end development</option>
                            <option>Back end development</option>
                            <option>App development</option>
                            <option>Game development</option>
                            <option>Databases</option>
                            <option>Other</option>
                          </select>
                    </div>
                
                    <div class="md-form">
                        <i class="fa fa-link prefix"></i>
                        <input type="text" class="form-control" placeholder="Url">
                        <label for="form2"></label>
                    </div>
                
                    <div class="text-center">
                        <button class="btn btn-primary">Go <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                
                </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="container">
            <div class="row" *ngFor="let post of posts">
                    <div class="col-lg-12 py-3 mb-3 card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <avatar class="avatar" [size]="50" [name]="post.author" [displayType]="'circle'"></avatar>
                                </div>
                                <div class="col-10">
                                        <h3 class="author-info display-5">
                                            {{ post.author }}
                                            <span class="date d-block">{{ post.date | date }}</span>
                                        </h3>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h3 class="post-title display-5">{{ post.title }}</h3>
                                    <p class="description text-muted">{{ post.content }}</p>
                                    <a target="_blank" class="url d-block mb-3" [href]="post.link">{{ post.link }}</a>
                                    <span class="d-inline-block tags">{{ post.category }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>