<!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">
  
      <!--Footer Links-->
      <div class="container">
          <div class="row">
  
              <!--First column-->
              <div class="col-md-6">
                  <h5 class="title mb-4 mt-3 font-bold">About CodeRef</h5>
                    <p>
                        To become the primary hub for developers to collaborate, find and post resources and interact with the development community through an interactive and friendly way. 
                    </p>
              </div>
              <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Try it out</a></li>          
                    <li><a href="#">About us</a></li>   
                    <li><a href="#">Contact us</a></li>                    
                    
                </ul>
              </div>
          </div>
      </div>
      <!--/.Footer Links-->
  
      <hr>
  
      <!--Call to action-->
      <div class="call-to-action">
          <ul>
              <li>
                  <h5 class="mb-1">Sign Up</h5>
              </li>
              <li><a href="/register" class="btn blue-gradient btn-rounded">Sign up!</a></li>
          </ul>
      </div>
      <!--/.Call to action-->
  
      <hr>
  
      <!--Social buttons-->
      <div class="social-section text-center">
          <ul>
  
              <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
              <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
              <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
  
          </ul>
      </div>
      <!--/.Social buttons-->
  
      <!--Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid">
              © 2017 Copyright CodeRef
  
          </div>
      </div>
      <!--/.Copyright-->
  `
  </footer>
  <!--/.Footer-->