<!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">
  
      <!--Footer Links-->
      <div class="container">
          <div class="row">
  
              <!--First column-->
              <div class="col-md-6">
                    <div class="social-section text-center">
                            <ul>
                    
                                <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
                                <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
                                <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                    
                            </ul>
                    </div>
              </div>
              <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Try it out</a></li>          
                    <li><a href="#">About us</a></li>   
                    <li><a href="#">Contact us</a></li>                    
                    
                </ul>
              </div>
          </div>
      </div>
      <!--/.Footer Links-->
      <div class="footer-copyright">
          <div class="container-fluid">
              © 2017 Copyright CodeRef
  
          </div>
      </div>
      <!--/.Copyright-->
  </footer>
  <!--/.Footer-->