<form (submit)="onSubmit($event)">
  <h1 class="search-title text-center">Search for HTML Tags</h1>
    <div class="row">
      <div class="col-md-6 search-box offset-md-4">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search" name="search">
            <span class="input-group-btn">
              <button class="btn btn-primary"  (click)="onSubmit($event)" type="button">Go!</button>
            </span>
          </div>
      </div>
    </div>
</form>

<div class="row">
  <div class="search-list col-md-6">
    <ul class="list-group ">
      <li class="list-group-item" *ngFor="let search of searches">
          <h3>{{search.key}}</h3>
          <hr>
          <p>{{search.definition}}</p>
      </li>
    </ul>
  </div>
</div>