<!-- <div class="container" id="search-container">
  <div class="row">
    <div class="col-12">
      <h1 class="search-title text-center">Search for HTML Tags</h1>
    </div> 
  </div> 
  <div class="row search">
    <div class="col-12">
      <form #form="ngForm" (ngSubmit)="addEntry(form.value)">
        <div class="input-group-lg">
          <input class="form-control" type="text" autocomplete="off" name="title" [(ngModel)]="title">
          
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><p>Search</p></button>
            </span>
        </div>
      </form>
  </div> 
</div> 
</div> -->

<form (submit)="onSubmit($event)">
  <h1 class="search-title text-center">Search for HTML Tags</h1>
    <div class="row">
      <div class="col-md-6 search-box offset-md-4">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search" name="seach">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>
          </div>
      </div>
    </div>
</form>