h1.search-title{
    color: #fff;
    margin-top: 1em;
}
.form-control:focus{
    box-shadow: none !important;
}
.form-control.search-input[type=text], .form-control.search-input::placeholder{
    color: #fff;
}
.list-group-item{
    margin-bottom: 1em;
}
.btn.btn-secondary{
    background-color: #fff;
    color: #666;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item{
    margin-bottom: 1em;
    border-radius: .3rem !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.search-box,
.search-list {
    float: none;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
}

@media (max-width: 768px){
    h1.search-title{
        font-size: 7vw;
    }
}