<div id="dashboard-container" class="container-fluid">
    <!-- <app-search></app-search> -->
    <div class="container-fluid dashboard-options">
        <div class="container">
        <div class="row dashboard-options-title">
            <div class="col-md-12">
                <h2 class="dashboard-options-title">Dashboard Choices</h2>
            </div>
        </div><!-- .row -->
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-btn">
                   Find<br>Resource
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-btn">
                    Post<br>Resource
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-btn">
                Search<br>Tags
                </div>
            </div>
        </div>
    </div>
    </div>
</div>