label {
    font-size: 1.25em;
}

.btn-link {
    text-decoration: underline;
    text-transform: capitalize;
}

.card-title {
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;
}

.card-title a.btn{
  margin-left: auto;
}

.card-header {
  background-color: #fff;
}