<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.css" rel="stylesheet"> -->
<!-- Form subscription -->
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Update your profile
				<a class="btn btn-link" (click)="isEdit = !isEdit">
						<span *ngIf="isEdit; else noEdit">Edit</span>
						<ng-template #noEdit>Hide</ng-template>
        </a>
    	</h3>
    </div>
    <div class="panel-body" [hidden]="isEdit">
      <form (submit)="onSubmit($event)">
        <div class="form-group">
            <label><i class="fa fa-picture-o prefix grey-text"></i> Profile Image:</label>
            <input type="text" class="form-control" name="profileImg" [(ngModel)]="profileImg">
        </div>
        <div class="form-group">
            <label><i class="fa fa-facebook prefix grey-text"></i> Facebook:</label>
            <input type="text" class="form-control" name="facebook" [(ngModel)]="facebook">
        </div>
        <div class="form-group">
            <label><i class="fa fa-twitter prefix grey-text"></i> Twitter:</label>
            <input type="text" class="form-control" name="twitter" [(ngModel)]="twitter">
        </div>
        <div class="form-group">
            <label><i class="fa fa-instagram prefix grey-text"></i> Instragram:</label>
            <input type="text" class="form-control" name="instagram" [(ngModel)]="instagram">
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
    </div>
  </div>
<!-- <form (submit)="onSubmit($event)">
    <p class="h5 text-center mt-0 mb-4">Add Your Links</p>

    <div class="md-form">
        <i class="fa fa-picture-o fa-3x prefix grey-text"></i>
        <input type="text" id="form3" class="form-control" [(ngModel)]="imgUrl" name="imgUrl">
        <label for="form3">Your image</label>
    </div>

    <div class="md-form">
        <i class="fa fa-facebook-square fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control" [(ngModel)]="facebookUrl" name="facebookUrl">
        <label for="form2">Facebook link</label>
    </div>

    <div class="md-form">
        <i class="fa fa-twitter-square fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control" [(ngModel)]="twitterUrl" name="twitterUrl">
        <label for="form2">Twitter link</label>
    </div>

    <div class="md-form">
        <i class="fa fa-instagram fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control" [(ngModel)]="igUrl" name="igUrl">
        <label for="form2">IG link</label>
    </div>

    <div class="text-center">
        <button class="btn btn-indigo">Submit<i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>

</form> -->
<!-- Form subscription -->