<!-- Form subscription -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.css">

<form>
    <p class="h5 text-center mb-4">Subscribe</p>

    <div class="md-form">
        <i class="fa fa-picture-o fa-3x prefix grey-text"></i>
        <input type="text" id="form3" class="form-control">
        <label for="form3">Your image</label>
    </div>

    <div class="md-form">
        <i class="fa fa-facebook-square fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">Facebook link</label>
    </div>

    <div class="md-form">
        <i class="fa fa-twitter-square fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">Twitter link</label>
    </div>

    <div class="md-form">
        <i class="fa fa-google-plus-square fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">G Plus link</label>
    </div>

    <div class="md-form">
        <i class="fa fa-instagram fa-3x prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">IG link</label>
    </div>

    <div class="text-center">
        <button class="btn btn-indigo">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>

</form>
<!-- Form subscription -->