/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #555;
    /* font-family: 'Inconsolata', monospace; */
}

#flashMessages {
    /* position: fixed;
    left: 50%;
    text-align: center;
    font-size: 1.5em;
    margin-left: -100px; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-left: 2.5px;
}

.alert-success {
    border-left: 5px solid #00C851;
    background-color: #ffffff;
}

.alert-danger {
    border-left: 5px solid #ff3547;
    background-color: #ffffff;
}

.btn.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f)!important;
    background: linear-gradient(40deg, #45cafc, #303f9f)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}