<!--<div *ngIf="user">
    <h2 class="page-header">{{user.name}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Username: {{user.username}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>

    </ul>
</div> -->
<div class="card" *ngIf="user">
    <h1>{{user.name}}</h1>
    <avatar [email]="email" [displayType]="'circle'">{{user.email}}</avatar>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button>Contact</button></p>
</div>