
<div class="" *ngIf="user">
<!-- <h2 class="page-header">Hello {{user.name}}</h2>
<ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
</ul> -->
    <div class="row profile-header">
        <div class="col-md-12 profile-info">
        <div class="profile-pic"></div>
        <h5 class="profile-name-intro">Hi, my name is</h5>
        <h2 class="profile-name">{{user.name.toUpperCase()}}</h2>
        <div class="profile-header-icons">
            <div class="social-icon facebook"></div>
            <div class="social-icon twitter"></div>
            <div class="social-icon g-plus"></div>
            <div class="social-icon linkedin"></div>
            <div class="social-icon instagram"></div>
        </div><!-- /.profile-header-icons -->
        </div><!-- /.col-12.text-center -->
    </div><!-- /.row -->
</div><!-- /*ngIf -->
