<!--Card-->
<div class="card card-cascade wider reverse my-4">
    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h1 class="card-title">Welcome to CodeRef</h1>
        <hr>
        <h4 class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</h4>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->