<header id="masthead" class="masthead text-white text-center">
    <div class="masthead-con">
        <div class="masthead-video-con">
            <div class="container">
                <div class="text-block">
                        <i id="icon" class="fa fa-code fa-prefix" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 123, 173) 1px 1px 0px, rgb(53, 129, 182) 2px 2px 0px, rgb(55, 136, 191) 3px 3px 0px, rgb(58, 142, 200) 4px 4px 0px, rgb(60, 148, 209) 5px 5px 0px, rgb(63, 154, 217) 6px 6px 0px, rgb(65, 161, 226) 7px 7px 0px; font-size: 50px; color: rgb(255, 255, 255); height: 80px; width: 80px; line-height: 75px; border-radius: 50%; text-align: center; background-color: rgb(68, 167, 235);"></i>
                    <h1><strong>Code</strong>ref</h1>
                    <p class="lead">code definitions and resources, fast!</p>
                    <a routerLink="/register" href="#about" class="d-inline-block btn btn-dark">Sign Up</a>
                    <a routerLink="/login" href="#about" class="d-inline-block btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home-info-con">
        <div class="row">
            <div class="col-md-4 home-col">
                <div class="card home-card">
                    <div class="fa-con">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h3 class="home-col-title">Find Resources</h3>
                    <p class="home-col-sub">Discover all new resources!</p>
                </div>
            </div>
            <div class="col-md-4 home-col">
                <div class="card home-card">
                    <div class="fa-con">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </div>
                    <h3 class="home-col-title">Search Tags</h3>
                    <p class="home-col-sub">Various syntax definitions!</p>
                </div>
            </div>
            <div class="col-md-4 home-col">
                <div class="card home-card">
                    <div class="fa-con">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <h3 class="home-col-title">Learn to Code</h3>
                    <p class="home-col-sub">Become a better developer!</p>
                </div>
            </div>
        </div>
    </div>
    <!--Card-->
</header>

<!-- <div class="card card-cascade wider reverse my-4">
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://images.unsplash.com/photo-1454165205744-3b78555e5572?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>

    <div class="card-body text-center">
        <h1 class="card-title">Welcome to CodeRef</h1>
        <hr>
        <h4 class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</h4>
    </div>
</div> -->
<app-footer></app-footer>