<!--Card-->
<div class="card card-cascade wider reverse my-4">
    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h1 class="card-title">Welcome to CodeRef</h1>
        <hr>
        <h4 class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</h4>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->
<div class="container">
    <div class="row">
        <div class="col-md-4 home-col">
            <div class="fa-con">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <h3 class="home-col-title">Find Resources</h3>
            <p class="home-col-sub">Discover all new resources!</p>
        </div>
        <div class="col-md-4 home-col">
            <div class="fa-con">
                <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <h3 class="home-col-title">Search Tags</h3>
            <p class="home-col-sub">Syntax definitions and examples!</p>
        </div>
        <div class="col-md-4 home-col">
            <div class="fa-con">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <h3 class="home-col-title">Learn to Code</h3>
            <p class="home-col-sub">Become a better developer!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>