<!--Navbar-->
<nav id="main-nav" class="navbar navbar-expand-lg navbar-light blue-grey lighten-5">

    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="[ './']">
            <i id="icon" class="fa fa-code fa-prefix" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 123, 173) 1px 1px 0px, rgb(53, 129, 182) 2px 2px 0px, rgb(55, 136, 191) 3px 3px 0px, rgb(58, 142, 200) 4px 4px 0px, rgb(60, 148, 209) 5px 5px 0px, rgb(63, 154, 217) 6px 6px 0px, rgb(65, 161, 226) 7px 7px 0px; font-size: 28px; color: rgb(255, 255, 255); height: 47px; width: 47px; line-height: 47px; border-radius: 50%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        <h3 class="d-inline align-middle"><strong>Code</strong><b class="logo-inverse">Ref</b></h3>
    </a>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/dashboard'] ">Dashboard</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/search'] ">Search</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/post-resource'] ">Post</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/find-resource'] ">Find</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/profile'] ">Profile</a></li>
            <li class="nav-item" *ngIf="!authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/login'] ">Login</a></li>
            <li class="nav-item" *ngIf="!authService.loggedIn() " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact: true} "><a class="nav-link" [routerLink]="[ '/register'] ">Register</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn() "><a (click)="onLogoutClick() " href="# " class="btn btn-danger">Logout</a></li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->