/*

.logout {
    background: #d9534f;
    color:white !important;
    padding: 10px 15px;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: .3rem;
}

.logout:hover {
    background: #d9534f !important;
}

*/

.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}