.navbar {
    margin-bottom: 0 !important;
}

.logout {
    background: #d9534f;
    color:white !important;
}

.logout:hover {
    background: #d9534f !important;
    box-shadow: 0 1px 10px 5px rgba(0,0,0, .2);
}