/* .post-resource-col{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: calc(100vh - 64px);
}

 */
#post-resource-title{
    margin-bottom: 1em;
    padding-top: 1em;
    /* font-weight: bold; */
    color: #333;
}

.bg-light {
    background: #fff !important;
    min-height: 100vh;
}

small {
    display: block;
}

label {
    font-size: 1.3em;
}

